<div class="container text-center justify-content-between m-4 p-4">
  
  <h3> <%= params[:answer] %> </h3>
  <h3> <%= @result[:score] %> </h3>
  <h3> <%= @result[:message] %> </h3>
  



  <%= link_to "play again", "/new" %>

</div>




